@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

@font-face {
  font-family: "Shrikhand";
  src: url("../font/Shrikhand-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
H1, H2, H3, img {
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
}

p {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  90%, 99% {
    opacity: 1;
    z-index: 2;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes chargeur {
  0% {
    transform: rotate(0deg);
    border-top-color: #9356DC;
    border-bottom-color: #9356DC;
  }
  33.33% {
    transform: rotate(120deg);
    border-top-color: #FF79DA;
    border-bottom-color: #FF79DA;
  }
  66.33% {
    transform: rotate(240deg);
    border-top-color: #99E2D0;
    border-bottom-color: #99E2D0;
  }
  100% {
    transform: rotate(360deg);
    border-top-color: #9356DC;
    border-bottom-color: #9356DC;
  }
}
@keyframes chargeur-reverse {
  0% {
    transform: rotate(0deg);
    border-top-color: #9356DC;
    border-bottom-color: #9356DC;
  }
  33.33% {
    transform: rotate(-120deg);
    border-top-color: #FF79DA;
    border-bottom-color: #FF79DA;
  }
  66.33% {
    transform: rotate(-240deg);
    border-top-color: #99E2D0;
    border-bottom-color: #99E2D0;
  }
  100% {
    transform: rotate(-360deg);
    border-top-color: #9356DC;
    border-bottom-color: #9356DC;
  }
}
@keyframes loader_titre {
  0% {
    color: black;
  }
  90%, 99% {
    color: #f6f6f6;
    opacity: 1;
  }
  100% {
    color: black;
  }
}
@keyframes animation_page_menu {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes rotate_icone {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.pied_de_page {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: #353535;
  color: #ffffff;
  padding-bottom: 30px;
}
.pied_de_page__titre {
  font-size: 1.2rem;
  font-weight: 100;
  cursor: default;
}
.pied_de_page__titre__para {
  width: 600px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.pied_de_page__titre__para__lien {
  text-decoration: none;
  color: #ffffff;
  margin: 0;
}
.pied_de_page__titre__para__lien > .fa-solid {
  font-size: 14px;
  margin-right: 10px;
  width: 15px;
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .pied_de_page__titre__para {
    width: 550px;
  }
  .pied_de_page__titre__para__lien {
    margin: 0 0 8px 20px;
  }
  .pied_de_page__titre__para__lien:last-child {
    margin: 10px 0 0 240px;
  }
}
@media screen and (max-width: 767px) {
  .pied_de_page {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .pied_de_page__titre {
    margin: 20px 0 0 20px;
  }
  .pied_de_page__titre__para {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
  }
  .pied_de_page__titre__para__lien {
    margin: 0 0 8px 20px;
  }
  .pied_de_page__titre__para__lien:last-child {
    margin: 0 0 0 20px;
  }
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header__logo_ohmyfood {
  width: 180px;
  margin: 20px 0 10px 0;
}
.header__logo_ohmyfood__fleche {
  position: absolute;
  left: 20px;
  font-size: 20px;
  bottom: 18px;
  color: black;
}

.header a:active {
  color: black;
}

.loading_spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1.8rem;
  background-color: #f6f6f6;
  position: fixed;
  z-index: 2;
  animation: loader 3s both;
}
.loading_spinner__loader {
  margin-top: 100px;
  margin-bottom: 100px;
  border: 8px solid #f6f6f6;
  width: 50px;
  height: 50px;
  border-top-color: #9356DC;
  border-bottom-color: #9356DC;
  border-radius: 50%;
  animation: chargeur 2s linear infinite;
  position: relative;
}
.loading_spinner__loader:hover {
  animation-play-state: paused;
}
.loading_spinner__loader::after {
  content: "";
  margin: auto;
  border: 8px solid #f6f6f6;
  width: 15px;
  height: 15px;
  border-top-color: #9356DC;
  border-bottom-color: #9356DC;
  border-radius: 50%;
  animation: chargeur-reverse 3s linear;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
}
.loading_spinner__loader__titre {
  letter-spacing: -4px;
  margin-left: 15px;
}

.lettre {
  font-family: "Shrikhand";
  animation: loader_titre 1.5s linear both;
}
.lettre:nth-child(1) {
  animation-delay: 0.125s;
}
.lettre:nth-child(2) {
  animation-delay: 0.25s;
}
.lettre:nth-child(3) {
  animation-delay: 0.375s;
}
.lettre:nth-child(4) {
  animation-delay: 0.5s;
}
.lettre:nth-child(5) {
  animation-delay: 0.625s;
}
.lettre:nth-child(6) {
  animation-delay: 0.75s;
}
.lettre:nth-child(7) {
  animation-delay: 0.875s;
}
.lettre:nth-child(8) {
  animation-delay: 1s;
}

.header {
  box-shadow: 0 0 0.5rem #bbbbbb;
}

.recherche {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  position: relative;
}
.recherche::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  font-family: "Font Awesome 6 Free";
  content: "\f3c5";
  margin-right: 160px;
  position: absolute;
  z-index: 1;
}
.recherche__placeholder {
  width: 100%;
  height: 48px;
  display: flex;
  text-align: center;
  background-color: #eaeaea;
  border: none;
}
.recherche__placeholder::placeholder {
  color: black;
  font-weight: 600;
}

.contenaire_reservation {
  display: inline-flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 280px;
  padding: 0 20px 30px 20px;
  background-color: #f6f6f6;
}
.contenaire_reservation__para {
  font-weight: 900;
  margin-top: 0px;
  width: 80%;
  align-self: center;
  font-size: 1.5rem;
  cursor: default;
}
.contenaire_reservation__para__secon {
  margin: 0 0 25px 0;
  font-size: 1rem;
  color: #353535;
  cursor: default;
}
.contenaire_reservation__para__secon__btn {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: #ffffff;
  cursor: pointer;
  padding: 1rem 1rem;
  border-radius: 10rem;
  text-align: center;
  box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.35);
  font-size: 0.9rem;
  height: 50px;
  width: 210px;
  align-self: center;
  position: relative;
  opacity: 1;
  z-index: 1;
}
.contenaire_reservation__para__secon__btn::after {
  content: "";
  background: linear-gradient(to bottom right, #ff93e1, #a16be0);
  border-radius: 10rem;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
}
.contenaire_reservation__para__secon__btn:hover::after, .contenaire_reservation__para__secon__btn:active::after {
  opacity: 1;
  transition: opacity 200ms;
}

.filtre {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  padding: 0 70px;
  height: 250px;
  margin-bottom: 42px;
  position: relative;
}
.filtre__titre {
  cursor: default;
  font-size: 1.5rem;
  font-weight: 900;
  margin: 20px 0 0px 20px;
}

.cadre {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 50px;
  margin: auto;
  width: 100%;
}
.cadre__filtre {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  cursor: pointer;
  border-radius: 1.5rem;
  font-size: 1rem;
  width: 350px;
  height: 75px;
  padding-right: 100px;
  white-space: pre;
  font-weight: 600;
  box-shadow: 1px 5px 10px 1px rgba(158, 158, 158, 0.35);
  margin: 15px 15px 15px 0;
}
.cadre__filtre > .fa-solid {
  margin-left: 50px;
  margin-right: 25px;
  color: gray;
  font-size: 20px;
}
.cadre__filtre:hover {
  background-color: #f2eafb;
}
.cadre__filtre:hover > .fa-solid {
  color: #9356DC;
}
.cadre__filtre__numero {
  width: 45px;
  text-align: center;
  background-color: #9356DC;
  border-radius: 30%;
  color: #ffffff;
  font-size: 1rem;
  padding: 5px 5px;
  position: absolute;
  margin-right: 230px;
}

.contenaire_restaurant {
  display: flex;
  flex-flow: row wrap;
  background-color: #f6f6f6;
  width: 100%;
  padding: 0 70px 0 70px;
}
.contenaire_restaurant__titre {
  font-size: 1.5rem;
  font-weight: 900;
  margin: 20px 54px 30px 20px;
  cursor: default;
  width: 100%;
}
.contenaire_restaurant__article {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-bottom: 60px;
  width: 100%;
}

.article_restaurant {
  position: relative;
  width: 45%;
  height: 255px;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 1px 5px 10px 1px rgba(158, 158, 158, 0.35);
  margin: 0 10px 40px 0;
}
.article_restaurant__img {
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  height: 175px;
}
.article_restaurant__img__nom {
  width: 60%;
  font-weight: 900;
  margin-left: 10px;
  margin-top: 10px;
}
.article_restaurant__img__nom__lieu {
  width: 50%;
  margin-left: 10px;
  margin-top: 5px;
}
.article_restaurant__img__nom__lieu__checkbox {
  display: none;
}
.article_restaurant__img__nom__lieu__checkbox__label {
  display: inline-block;
  cursor: pointer;
}
.article_restaurant__img__nom__lieu__checkbox__label > .fa-regular {
  position: absolute;
  right: 30px;
  bottom: 30px;
  font-size: 25px;
}
.article_restaurant__img__nom__lieu__checkbox__label > .fa-regular::after {
  background: linear-gradient(180deg, #9356DC, #FF79DA);
  content: "\f004";
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  font-family: "Font Awesome 6 Free";
  background-size: contain;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font: var(--fa-font-solid);
  position: absolute;
  right: 0;
  font-size: 25px;
  opacity: 0;
  transform: scale(1.1);
  transition: opacity 400ms ease-out;
}
.article_restaurant__img__nom__lieu__checkbox__label__btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #99E2D0;
  color: #008766;
  padding: 0.3rem 0.7rem;
  font-size: 0.8rem;
}
.article_restaurant__img__nom__lieu__checkbox:checked + .article_restaurant__img__nom__lieu__checkbox__label > .fa-regular::after {
  opacity: 1;
}

.article_restaurant a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 991px) {
  .filtre {
    height: 400px;
    margin-bottom: 42px;
    flex-flow: column nowrap;
    padding: 0;
  }
  .filtre__titre {
    margin-left: 200px;
  }
  .cadre {
    flex-flow: column nowrap;
    justify-content: space-evenly;
    margin: 0;
    height: 100%;
    padding: 0;
    position: none;
    padding: 0 200px 0 200px;
  }
  .cadre__filtre {
    justify-content: start;
    width: 100%;
    padding-right: 50px;
    margin: 0;
  }
  .cadre__filtre > .fa-solid {
    margin-left: 35px;
  }
  .cadre__filtre__numero {
    width: 20px;
    border-radius: 50%;
    left: 192px;
  }
  .contenaire_restaurant {
    padding: 0 20px 0 40px;
  }
  .contenaire_restaurant__titre {
    margin: 54px 0 30px 15px;
  }
}
@media screen and (max-width: 767px) {
  .filtre__titre {
    margin-left: 20px;
  }
  .cadre {
    flex-flow: column nowrap;
    padding: 0 20px 0 30px;
    width: 100%;
  }
  .cadre__filtre {
    width: 100%;
    max-width: 767px;
    padding-right: 100px;
  }
  .cadre__filtre__numero {
    left: 16px;
  }
  .contenaire_restaurant {
    padding: 0 20px 0 20px;
  }
  .contenaire_restaurant__titre {
    margin: 54px 0 10px 0;
  }
  .contenaire_restaurant__article {
    flex-flow: column nowrap;
    height: 1160px;
  }
  .article_restaurant {
    width: 100%;
    margin: 0;
  }
}
.body {
  background-color: #f6f6f6;
}

.img_principale {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.corp_page {
  position: relative;
  bottom: 60px;
  margin-bottom: 0px;
}

.contenaire_titre {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  border-radius: 2.5rem 2.5rem 0 0;
  background-color: #f6f6f6;
}
.contenaire_titre__h1 {
  margin: 30px 20px 30px 20px;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: default;
  align-self: center;
}
.contenaire_titre__h1__checkbox {
  display: none;
}
.contenaire_titre__h1__checkbox__label {
  display: inline-block;
  cursor: default;
  position: relative;
}
.contenaire_titre__h1__checkbox__label > .fa-regular {
  position: relative;
  font-size: 25px;
  bottom: 0;
  cursor: pointer;
  z-index: 1;
  align-self: center;
}
.contenaire_titre__h1__checkbox__label > .fa-regular::after {
  background: linear-gradient(180deg, #9356DC, #FF79DA);
  content: "\f004";
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  font-family: "Font Awesome 6 Free";
  background-size: contain;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font: var(--fa-font-solid);
  content: "\f004";
  position: absolute;
  right: 0;
  font-size: 25px;
  opacity: 0;
  transition: opacity 400ms ease-out;
}
.contenaire_titre__h1__checkbox:checked + .contenaire_titre__h1__checkbox__label > .fa-regular::after {
  opacity: 1;
}

.contenaire {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
.contenaire__menu {
  display: flex;
  flex-flow: column wrap;
  margin-top: 8px;
  padding: 0 10px;
  width: 24.7%;
}
.contenaire__menu__type {
  text-transform: uppercase;
  margin-bottom: 3px;
  margin-left: 20px;
  cursor: default;
  width: 100%;
}
.contenaire__menu__type--soulignement_vert {
  background-color: #99E2D0;
  width: 40px;
  height: 3px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.la_carte {
  display: flex;
  flex-flow: column wrap;
  padding: 0 10px;
  max-width: 100%;
}

.menu {
  display: flex;
  flex-flow: row nowrap;
  margin: 5px 0 12px 0;
  border-radius: 1rem;
  width: 450px;
  height: auto;
  background-color: white;
  box-shadow: 1px 5px 10px 1px rgba(158, 158, 158, 0.35);
  overflow: hidden;
  max-width: 100%;
  position: relative;
}
.menu:nth-child(1) {
  opacity: 0;
  animation: animation_page_menu 1000ms 0ms both;
}
.menu:nth-child(2) {
  opacity: 0;
  animation: animation_page_menu 1000ms 400ms both;
}
.menu:nth-child(3) {
  opacity: 0;
  animation: animation_page_menu 1000ms 800ms both;
}
.menu:nth-child(4) {
  opacity: 0;
  animation: animation_page_menu 1000ms 1200ms both;
}
.menu__plat {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  min-width: 50px;
}
.menu__plat__type {
  margin: 10px 0 0px 10px;
  font-weight: 600;
  font-size: 1.1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__plat__type__composition {
  margin: 5px 0 10px 10px;
  font-size: 1rem;
  font-weight: 100;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__plat__type__composition__anime {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  width: auto;
}
.menu__plat__type__composition__anime__checkbox {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}
.menu__plat__type__composition__anime__checkbox__prix {
  font-weight: 900;
  align-self: end;
  margin: 0 20px 10px 0;
  transform: translateX(0px);
  transition: transform 500ms ease-in-out, margin-left 500ms ease-in-out;
  cursor: pointer;
}
.menu__plat__type__composition__anime__checkbox__prix--check {
  height: 100%;
  background-color: #99E2D0;
  border-radius: 0 1rem 1rem 0;
  display: flex;
  width: 60px;
  margin-right: -60px;
  transition: transform 500ms ease-in-out;
  transform: translateX(0px);
  cursor: pointer;
}
.menu__plat__type__composition__anime__checkbox__prix--check > .fa-solid {
  color: #99E2D0;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 3px;
  margin: auto;
  font-size: 13px;
  cursor: pointer;
}
.menu__plat__type__composition__anime__checkbox:hover + .menu__plat__type__composition__anime__checkbox__prix {
  transform: translateX(-60px);
  margin-left: 100px;
}
.menu__plat__type__composition__anime__checkbox:hover ~ .menu__plat__type__composition__anime__checkbox__prix--check {
  transform: translateX(-60px);
}
.menu__plat__type__composition__anime__checkbox:hover ~ .menu__plat__type__composition__anime__checkbox__prix--check > .fa-solid {
  animation: rotate_icone 400ms linear both;
}
.menu__plat__type__composition__anime__checkbox:checked + .menu__plat__type__composition__anime__checkbox__prix {
  transform: translateX(-60px);
  margin-left: 100px;
}
.menu__plat__type__composition__anime__checkbox:checked ~ .menu__plat__type__composition__anime__checkbox__prix--check {
  transform: translateX(-60px);
}
.menu__plat__type__composition__anime__checkbox:checked ~ .menu__plat__type__composition__anime__checkbox__prix--check > .fa-solid {
  animation: rotate_icone 400ms linear both;
}

.btn_contenaire {
  display: flex;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
}
.btn_contenaire__btn {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: #ffffff;
  cursor: pointer;
  padding: 1rem 1rem;
  border-radius: 10rem;
  text-align: center;
  box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.35);
  font-size: 0.9rem;
  height: 50px;
  margin: auto;
  width: 230px;
  font-size: 1rem;
  position: relative;
  opacity: 1;
  z-index: 1;
}
.btn_contenaire__btn::after {
  content: "";
  background: linear-gradient(to bottom right, #ff93e1, #a16be0);
  border-radius: 10rem;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
}
.btn_contenaire__btn:hover::after, .btn_contenaire__btn:active::after {
  opacity: 1;
  transition: opacity 200ms;
}

@media screen and (max-width: 991px) {
  .contenaire_titre {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .contenaire_titre__h1 {
    font-size: 1.6rem;
    align-self: start;
    margin: 30px 20px 15px 20px;
    font-weight: 500;
  }
  .contenaire_titre__h1__checkbox__label > .fa-regular {
    margin: 10px 40px 0 0;
  }
  .contenaire {
    flex-flow: column nowrap;
    justify-content: none;
  }
  .contenaire__menu {
    max-width: 100%;
    width: auto;
  }
  .contenaire__menu__type {
    width: auto;
  }
  .la_carte {
    width: 991px;
    max-width: 100%;
  }
  .menu {
    width: 100%;
    max-width: 991px;
    height: auto;
  }
  .menu__plat__type {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 11px;
  }
  .menu__plat__type__composition {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 11px;
  }
  .btn_contenaire__btn {
    width: 180px;
  }
}
@media screen and (max-width: 767px) {
  .contenaire_titre__h1 {
    margin: 30px 0px 15px 20px;
  }
  .la_carte {
    width: 767px;
  }
  .menu {
    max-width: 767px;
  }
}
@media screen and (max-width: 340px) {
  .contenaire_titre__h1 {
    font-size: 1.4rem;
  }
}

/*# sourceMappingURL=style.css.map */
