@keyframes animation_page_menu {
        0% {
            transform: translateY(10px);
            opacity: 0;
        }

        100% {
            transform: translateY(0px);
            opacity: 1;
        }
}

@keyframes chargeur {
  0% {
    transform: rotate(0deg);
    border-top-color: $violet;
    border-bottom-color: $violet;
  }
  33.33% {
    transform: rotate(120deg);
    border-top-color: $rose;
    border-bottom-color: $rose;
  }
  66.33% {
    transform: rotate(240deg);
    border-top-color: $vert;
    border-bottom-color: $vert;
  }

  100% {
    transform: rotate(360deg);
    border-top-color: $violet;
    border-bottom-color: $violet;
  }
  
}

@keyframes chargeur-reverse {
  0% {
    transform: rotate(0deg);
    border-top-color: $violet;
    border-bottom-color: $violet;
  }
  33.3% {
    transform: rotate(-120deg);
    border-top-color: $rose;
    border-bottom-color: $rose;
  }
  66.3% {
    transform: rotate(-240deg);
    border-top-color: $vert;
    border-bottom-color: $vert;
  }

    100% {
    transform: rotate(-360deg);
    border-top-color: $violet;
    border-bottom-color: $violet;
  }
  
}

@keyframes loader_titre {
  0% {
      color:black;
  }

  90%, 99% {
    color:$gris_claire;
    opacity: 1;
    z-index: 2;
  }

  100% {
    color:black;
  }
}

@keyframes loader{
  0% {
    opacity: 1;
  }

  90%, 99% {
    opacity: 1;
    z-index: 2;
  }

  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes rotate_icone {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}