@keyframes animation_page_menu {
        0% {
            transform: translateY(10px);
            opacity: 0;
        }

        100% {
            transform: translateY(0px);
            opacity: 1;
        }
}

@keyframes animation_selection_plat {
    0% {
        transform: translatex(61px);
    }

    100% {
        transform: translatex(0px);
    }
}