@media screen and (max-width: 767px) {

    .header {
        box-shadow: 0 0 0.5rem #bbbbbb;
    }
    .recherche {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        width: 100%;
        position: relative;
        &::before {
            @include fontawesome;
            content: "\f3c5";
            margin-right: 160px;
            position: absolute;
            z-index: 1;
        }
        &__placeholder {
            width: 100%;
            height: 48px;
            display: flex;
            text-align: center;
            background-color: $gris_fonce;
            border: none;
            position: relative;

            &::placeholder {
                color: black;
                font-weight: 600;
            }
        }
    }

    .contenaire_reservation {
        display: inline-flex;
        flex-flow: column wrap;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 280px;
        padding: 0 20px 30px 20px;
        background-color: $gris_claire;
        &__para {
            font-weight: 900;
            margin-top: 0px;
            width: 80%;
            align-self: center;
            font-size: 1.5rem;
            cursor: default;
            &__secon {
                margin: 0 0 25px 0;
                font-size: 1rem;
                color: #353535;
                cursor: default;
                &__btn {
                    @include btn;
                    color: $blanc;
                    cursor: pointer;
                    padding: 1rem 1rem;
                    border-radius: 10rem;
                    font-size: 0.9rem;
                    width: 210px;
                    align-self: center;
                    box-shadow: 1px 5px 10px 1px rgb(0 0 0 / 35%);
                    &:hover {
                        background: linear-gradient(to bottom right, lighten($rose, 5), lighten($violet, 5));
                        box-shadow: 1px 5px 8px 1px rgb(0 0 0 / 35%);
                    }
                }
            }
        }
    }

    .filtre {
        display: flex;
        justify-content: space-evenly;
        flex-flow: column nowrap;
        width: 100%;
        height: 400px;
        padding: 0 20px 0 20px;
        margin-bottom: 42px;
        &__para {
            cursor: default;
            font-size: 1.5rem;
            font-weight: 900;
            margin-bottom: 10px;
            &__cadre_filtre {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                background-color: $gris_claire;
                cursor: pointer;
                border-radius: 1.5rem;
                font-size: 1rem;
                width: 100%;
                height: 75px;
                padding-right: 100px;
                white-space: pre;
                font-weight: 600;
                box-shadow: 1px 5px 10px 1px rgba(158, 158, 158, 0.35);
                &:hover {
                    background-color: lighten($violet, 35%);
                }
                &:hover > .fa-solid {
                    color: $violet;
                }
                &__numero {
                    width: 20px;
                    text-align: center;
                    background-color: $violet;
                    border-radius: 100%;
                    color: #fcfcfc;
                    font-size: 0.8rem;
                    padding: 5px 5px;
                    align-self: center;
                    position: absolute;
                    left: 12px;
                    &__fontawe {
                        margin-left: 50px;
                        margin-right: 25px;
                        color: gray;
                    }
                }
            }
        }
    }

    .contenaire_restaurant {
        display: flex;
        flex-flow: column wrap;
        background-color: $gris_claire;
        padding: 0 20px 0 20px;
        width: 100%;
        height: auto;
        &__titre {
            font-size: 1.5rem;
            font-weight: 900;
            margin-top: 54px;
            margin-bottom: 10px;
            cursor: default;
        }

        &__article {
            display: flex;
            flex-flow: column wrap;
            justify-content: space-around;
            height: 1160px;
            padding-bottom: 60px;
        }
    }
    .article_restaurant {
        position: relative;
        width: 100%;
        height: 255px;
        background-color: $blanc;
        border-radius: 1rem;
        box-shadow: 1px 5px 10px 1px rgba(158, 158, 158, 0.35);
        &__img {
            object-fit: cover;
            border-radius: 1rem 1rem 0 0;
            width: 100%;
            height: 175px;
            &__nom {
                width: 60%;
                font-weight: 900;
                margin-left: 10px;
                margin-top: 10px;
                &__lieu {
                    width: 50%;
                    margin-left: 10px;
                    margin-top: 5px;
                    &__checkbox {
                        display: none;
                        &__label { 
                            display: inline-block; 
                            cursor: pointer;
                            &::after {
                                background: linear-gradient(180deg,$violet, $rose);
                                content: "\f004";
                                @include fontawesome; 
                                background-size: contain;
                                background-clip: text;
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                -moz-background-clip: text;
                                -moz-text-fill-color: transparent;
                                font: var(--fa-font-solid);
                                position: absolute;
                                right: 30px;
                                bottom: 30px;
                                font-size: 25px;
                                opacity: 0;
                                transform: scale(1.10);
                                transition: all 400ms ease-out;
                            }
                            &--coeur {
                                position: absolute;
                                right: 30px;
                                bottom: 30px;
                                font-size: 25px;
                                &__btn {
                                    position: absolute;
                                    top: 10px;
                                    right: 10px;
                                    background: $vert;
                                    color: #008766;
                                    padding: 0.3rem 0.7rem;
                                    font-size: 0.8rem;
                                }
                            }
                        }
                        &:checked + &__label::after {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    .article_restaurant a {
        text-decoration: none;
        color: black;
    }

}