@media screen and (max-width: 767px) {

    .body {
        background-color: $gris_claire;
    }
    
    .img_principale {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
    
    .corp_page {
        position: relative;
        bottom: 60px;
        margin-bottom: 0px;
    }
    
    .contenaire_titre{
        display: flex;
        flex-flow: column wrap;
        border-radius: 2.5rem 2.5rem 0 0;
        background-color: $gris_claire;
        position: relative;
        &__h1 {
            margin: 30px 20px 15px 20px;
            font-size: 1.6rem;
            font-weight: 500;
            &__coeur {
                position: absolute;
                right: 40px;
                bottom: 23px;
                font-size: 25px;
                &:active {
                    &::after{
                        opacity: 1;
                    }
                }
            }
            &__coeur::after {
                @include fontawesome; 
                background: content-box linear-gradient(0deg,$violet, $rose);
                background-size: 100%;
                font: var(--fa-font-regular);
                content: "\f004";
                opacity: 0;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;  
                left: 0;
            }
        }
    }
    
    .contenaire_menu {
        display: flex;
        flex-flow: column nowrap;
        margin-top: 8px;
        &__type {
            text-transform: uppercase;
            margin-bottom: 3px;
            margin-left: 20px;
            &__vert {
                background-color: $vert;
                width: 40px;
                height: 3px;
                margin-left: 20px;
                margin-bottom: 10px;
                &__menu {
                    display: flex;
                    flex-flow: column nowrap;
                    margin: 5px 10px 12px 10px;
                    border-radius: 1rem;
                    height: 68px;
                    background-color: white;
                    box-shadow: 1px 5px 10px 1px rgba(158, 158, 158, 0.35);
                    &__plat {
                        margin: 10px 0 0px 10px;
                        font-weight: 900;
                        font-size: 1.2rem;
                        &__composition {
                            margin: 5px 0 5px 10px;
                            &__prix {
                                font-weight: 900;
                                align-self: flex-start;
                                margin: 5px 20px 0 0;
                            }
                        }
                    }
    
                }
            }
        }
    }
    
    .composition_prix {
        display: flex;
        justify-content: space-between;
        height: auto;
    }
    
    .btn_contenaire {
        display: flex;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 20px;
        &__btn {
            background: linear-gradient(to bottom right,$rose, $violet);
            color: $blanc;
            width: 45%;
            margin: auto;
            text-align: center;
            height: 50px;
            cursor: pointer;
            padding: 1rem 1rem;
            border-radius: 10rem;
            box-shadow: 1px 5px 10px 1px rgb(0 0 0 / 35%);
        }
    
    }
}

